<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.stu.commonmuldbmb.mapper.db2.MoreDb2TableMapper">
  <resultMap id="BaseResultMap" type="com.sb.stu.commonmuldbmb.model.db2.MoreDb2Table">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="price" jdbcType="BIGINT" property="price" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, number, price
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <![CDATA[ ]]>
    select 
      <include refid="Base_Column_List" />
    from more_db2_table
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>