<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sprboot.ex.ormplugin.mybatis.muldb.mapper.db1.User1Mapper">
  <resultMap id="BaseResultMap" type="com.sprboot.ex.ormplugin.mybatis.muldb.model.db1.User1">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy" />
    <result column="last_modify_time" jdbcType="DATE" property="lastModifyTime" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, code, name, create_by, create_time, last_modify_by, last_modify_time, delete_flag
  </sql>
  
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
      <include refid="Base_Column_List" />
    from user
    where id = #{id}
  </select>

</mapper>